html {
    --davys-grey: #605f5eff;
    --white: #fcfcfcff;
    --yellow-green: #98ce00ff;
    --may-green: #60993eff;
    --fire-opal: #e3655bff;
    --yellow-green-fade: #98ce0030;
    --davys-grey-fade: #605f5e30;
    --fire-opal-fade: #e3655b30;
    --may-green-fade: #60993e30;
}

html, body {
    background-color: var(--white);
}

header {
    background-color: var(--davys-grey);
    color: white;
}

button {
    background-color: var(--fire-opal);
    border: solid 1px var(--fire-opal);
    color: white;
}

a {
    color: var(--may-green) !important;
}

a.logo {
    color: var(--white) !important;
}

.splash h1 {
    color: var(--white);
    text-shadow: var(--davys-grey) 2px 2px;
}

a.tile .text {
    background-color: rgba(255, 255, 255, 0.9);
}

main:not(.home-area)>nav a {
    background-color: var(--may-green);
    color: white !important;
}

main:not(.home-area)>nav a:hover {
    background-color: var(--yellow-green);
}

form aside {
    background-color: var(--yellow-green-fade);
}

input {
    border-color: var(--davys-grey-fade);
}

h3 {
    border-bottom-color: var(--davys-grey-fade);
}

.grant-status {
    border-color: var(--white);
    background-color: var(--may-green-fade);
}

.grant-status.archived {
    background-color: var(--davys-grey-fade);
    border-color: var(--white);
}

.grant-status.closed {
    background-color: var(--fire-opal-fade);
    border-color: var(--fire-opal);
}

.grant-status.live {
    background-color: var(--yellow-green-fade);
    border-color: var(--yellow-green);
}

.grant-status.submitted {
    background-color: var(--yellow-green);
}

div.errors {
    border-color: var(--fire-opal);
}

main:not(.home-area)>nav hr {
    background-color: var(--may-green-fade);
}