.splash {
    background-image: url("../img/organised.jpg");
    background-size: cover;
}

.tile {
    background-size: cover;
}

.tile.grant-admin {
    background-image: url("../img/grant-admin.jpg");
}

.tile.create {
    background-image: url("../img/create.jpg");
}

.tile.portal {
    background-image: url("../img/portal.jpg");
}

a.grant::before, a.application::before, a.submitted-application::before {
    background-size: contain;
    display: inline-block;
    width: 20px;
    height: 20px;
    content: " ";
    margin-right: 3px;
    background-image: url("../img/document.svg");
}