.splash {
    background-image: url("../img/organised.jpg");
    background-size: cover;
}

.tile {
    background-size: cover;
}

.tile.grant-admin {
    background-image: url("../img/grant-admin.jpg");
}

.tile.create {
    background-image: url("../img/create.jpg");
}

a.grant {
    display: flex;
    align-items: center;
}

a.grant::before {
    background-image: url("../img/document.svg");
    background-size: contain;
    display: inline-block;
    width: 20px;
    height: 20px;
    content: " ";
    margin-right: 3px;
}