.grant-status {
    padding: 5px 10px;
    border-radius: 3px;
    display: inline-block;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.applications-area .item+.item {
    margin-top: 10px;
}

article {
    margin-top: 60px;
}

body {
    padding: 30px 30px 200px 30px;
}

.fill-application.false {
    display: none;
}