body:not(.logged-in) #signOut {
    display: none;
}

body:not(.logged-in) .account-welcome {
    visibility: hidden;
}

body:not(.logged-in) .home-area nav {
    display: none;
}

body.logged-in #signIn {
    display: none;
}

body:not(.logged-out) #please-sign-in {
    display: none;
}

a.tile:hover {
    box-shadow: var(--yellow-green) 0 0 2px 0px;
}

section.data-list .loading-list, section.data-item .loading-item {
    animation: blink 1s infinite;
}

@keyframes blink {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.2;
    }
}

section.data-list.loaded .loading-list, section.data-item.loaded .loading-item {
    display: none;
}

section.data-list .empty-list, section.data-item .not-found {
    display: none;
}

section.data-list.empty .empty-list {
    display: initial;
}

section.data-list .output, section.data-item .output {
    display: none;
}

section.data-list.loaded .output, section.data-item.loaded .output {
    display: initial;
}

.show {
    display: initial;
}

.hide {
    display: none;
}

section.data-list .errors, section.data-item .errors {
    display: none;
}

section.data-list.error .errors, section.data-item.error .errors {
    display: block;
}

.error .not-error {
    display: none;
}

.view-application-area .submitted form, .view-application-area .submitted .fill-application {
    display: none;
}