body:not(.logged-in) #signOut {
    display: none;
}

body:not(.logged-in) .account-welcome {
    visibility: hidden;
}

body:not(.logged-in) .home nav {
    display: none;
}

body.logged-in #signIn {
    display: none;
}

body:not(.logged-out) #please-sign-in {
    display: none;
}

a.tile:hover {
    box-shadow: var(--yellow-green) 0 0 2px 0px;
}

section.data-list .loading-list {
    animation: blink 1s infinite;
}

@keyframes blink {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.2;
    }
}

section.data-list.loaded .loading-list {
    display: none;
}

section.data-list .empty-list {
    display: none;
}