html, body {
    margin: 0;
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    padding: 10px;
}

header aside {
    flex: 1;
    text-align: right;
}

header aside {
    padding: 10px;
}

button, input {
    padding: 10px;
    border-radius: 3px;
    min-width: 150px;
}

main {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
}

main>* {
    flex: 2;
}

main>.splash {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main:not(.home)>nav {
    flex: 0 0 150px;
    display: flex;
    flex-direction: column;
}

header h1 {
    display: flex;
    align-items: center;
}

header h1 img {
    margin: -1px 2px 0px 1px;
}

footer {
    position: fixed;
    bottom: 0;
    text-align: right;
    width: 100vw;
    padding: 10px;
    box-sizing: border-box;
}

a.tile {
    display: flex;
    width: 200px;
    height: 200px;
    border: solid 1px silver;
    align-items: flex-end;
    justify-content: center;
}

a.tile .text {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
}

main>* {
    padding: 20px;
}

main.home>* {
    padding: 40px;
}

main:not(.home)>nav a {
    padding: 10px 20px;
    margin: 0 0 10px 0;
    display: inline-block;
    border-radius: 4px;
    text-decoration: none;
}

h2 {
    margin-top: 10px;
    border-bottom: solid 0.1px silver;
}

form {
    display: flex;
    flex-direction: column;
    min-width: 780px;
}

form label .text {
    width: 150px;
    display: inline-block;
}

form input[type=text] {
    width: 300px;
}

form input[type=file] {
    padding-left: 0;
    width: 600px;
}

div.message {
    margin: 10px 0;
    padding: 10px 20px;
    border-left: solid 3px var(--davys-grey);
}

div.message.pending {
    border-left-color: var(--yellow-green);
}

div.message.success {
    border-left-color: var(--may-green);
}

div.message.failure {
    border-left-color: var(--fire-opal);
}

button:disabled {
    opacity: 0.5;
}

section.data-list {
    padding: 10px;
    margin-bottom: 10px;
}

section.data-list .output {
    display: flex;
    flex-direction: column;
}

a.grant h3 {
    margin: 0;
}

a.grant {
    margin-bottom: 10px;
}