html, body {
    font-family: Arial;
    font-size: 10pt;
}

header * {
    font-size: 1em;
    font-weight: normal;
}

.splash h1 {
    font-size: 6em;
    text-align: center;
}

a.logo {
    text-decoration: none;
}

h3 {
    border-bottom-style: solid;
    border-bottom-width: 0.1px;
}

a h3 {
    border-bottom: none;
}

time {
    font-weight: bolder;
}

.grant-status {
    text-transform: uppercase;
    letter-spacing: 0.07em;
}