workflow-editor {
    margin-top: 10px;
    font-family: 10pt;
}

workflow-editor .switcher {
    display: flex;
    align-content: flex-end;
    margin-bottom: 10px;
}

workflow-editor .switcher label:first-of-type .text {
    border-radius: 10px 0 0 10px;
    border-left-width: 1px;
}

workflow-editor .switcher label:last-of-type .text {
    border-radius: 0 10px 10px 0;
    border-right-width: 1px;
}

workflow-editor .switcher label .text {
    display: inline-block;
    border: 0;
    padding: 10px 20px;
    background-color: #EEE;
    border-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-color: #EEE;
}

workflow-editor .switcher label :focus+.text {
    outline: blue solid 3px;
    outline-offset: -3px;
}

workflow-editor .switcher label :checked+.text {
    box-shadow: inset 0 0 5px -2px black;
}

workflow-editor .switcher label input {
    position: absolute;
    left: -200px;
}

workflow-editor .main {
    display: flex;
}

workflow-editor .main>* {
    flex: 1;
}

workflow-editor.both-mode .main .text {
    flex: 1 1 33%;
}

workflow-editor.both-mode .main .diagram {
    flex: 1 1 66%;
}

workflow-editor .main .diagram {
    position: sticky;
    align-self: flex-start;
    top: 20px;
    padding: 10px;
    margin-left: 10px;
    text-align: center;
}

workflow-editor:not(.text-mode):not(.both-mode) .main .text, workflow-editor.text-mode .diagram {
    display: none;
}

workflow-editor .main .text {
    counter-reset: state-number;
}

workflow-editor .main .text details {
    counter-increment: state-number;
}

workflow-editor .main .text details {
    border: solid 0.1px #EEE;
    border-radius: 3px;
    padding: 5px;
}

workflow-editor .main .text label {
    display: block;
    padding: 10px;
}

workflow-editor .main .text details+details {
    margin-top: 5px;
}

workflow-editor .main .text summary {
    padding: 10px 0;
    font-size: 1.4em;
}

workflow-editor .main .text summary::before {
    content: counter(state-number)". ";
}

workflow-editor .messageText {
    stroke: none !important;
}

workflow-editor .temp {
    display: none;
}

workflow-editor .main input[type=checkbox] {
    transform: scale(1.7, 1.7);
    margin: 0 5px 0 0;
}

workflow-editor h4 {
    margin: 0;
}

workflow-editor .main .text .transitions {
    padding: 10px;
}

workflow-editor .main .text .transitions .description {
    min-width: 300px;
}

workflow-editor .main .text .transitions label {
    display: inline-block;
    padding: 0;
    margin: 5px;
}